<%- include('common/head') -%>

    <!-- App Header -->
    <div class="appHeader no-border transparent">
        <div class="left">
        </div>
        <div class="pageTitle">
            <img src="/views/assets/img/logo.png" alt="logo" class="logo">
        </div>
        <div class="right">
            <a href="/page-login" class="headerButton text-secondary">
                Skip
            </a>
        </div>
    </div>
    <!-- * App Header -->

    <!-- App Capsule -->
    <div id="appCapsule">


        <div class="carousel-slider owl-carousel owl-theme">
            <div class="item p-2">
                <img src="/views/assets/img/app-assets/student-with-study.png" alt="alt" class="imaged w-100 square mb-4">
                <h2>Your Growth is in your hand</h2>
                <p>Get access to the best online Cources & community for Creatives</p>
            </div>
            <div class="item p-2">
                <img src="/views//assets/img/app-assets/student-with-study-2.png" alt="alt" class="imaged w-100 square mb-4">
                <h2>PWA Ready</h2>
                <p>It is a progressive web app. Add to home screen and use it like an app.</p>
            </div>
            <div class="item p-2">
                <img src="/views//assets/img/app-assets/student-with-study-3.png" alt="alt" class="imaged w-100 square mb-5">
                <h2>Great for phones & tablets</h2>
                <p>Compatible with all mobile phones and tablet resolutions.</p>
            </div>
        </div>

        <div class="carousel-button-footer">
            <div class="row">
                <div class="col-6">
                    <a href="javascript:;" class="btn btn-outline-primary rounded shadowed btn-lg btn-block goBack">Go
                        Back</a>
                </div>
                <div class="col-6">
                    <a href="/page-login" class="btn btn-primary rounded btn-lg btn-block">Next</a>
                </div>
            </div>
        </div>


    </div>
    <!-- * App Capsule -->
    <%- include('common/script') -%>