<header class="default heade-sticky t">
    <div class="un-title-page go-back">
        <a onclick="history.back();" class="icon visited">
            <i class="ri-arrow-drop-left-line"></i>
        </a>
        <h1><%-title-%></h1>
    </div>
</header>
<div class="space-sticky"></div>
