<header class="default heade-sticky">
    <a href="/">
        <div class="un-item-logo">
            <img class="logo-img light-mode" src="views/images/logo.png" alt="">
            <img class="logo-img dark-mode" src="views/images/logo.png" alt="">
        </div>
    </a>
    <div class="un-block-right">
        <div class="un-notification">
            <a href="/notifications" aria-label="activity">
                <i class="ri-notification-line"></i>
            </a>
            <span class="bull-activity"></span>
        </div>
        <div class="un-user-profile">
            <a href="/my-profile" aria-label="profile">
                <picture>
                    <source srcset="views/images/user.png" type="image/webp">
                    <img class="img-avatar" src="views/images/user.png" alt="">
                </picture>
            </a>
        </div>
        <!-- menu-sidebar -->
        <div class="menu-sidebar">
            <button type="button" name="sidebarMenu" aria-label="sidebarMenu" class="btn" data-bs-toggle="modal"
                data-bs-target="#mdllSidebar-connected">
                <svg xmlns="http://www.w3.org/2000/svg" width="19" height="9.3" viewBox="0 0 19 9.3">
                    <g id="Group_8081" data-name="Group 8081" transform="translate(-329 -37)">
                        <rect id="Rectangle_3986" data-name="Rectangle 3986" width="19" height="2.3" rx="1.15"
                            transform="translate(329 37)" fill="#222032"></rect>
                        <rect id="Rectangle_3987" data-name="Rectangle 3987" width="19" height="2.3" rx="1.15"
                            transform="translate(329 44)" fill="#222032"></rect>
                    </g>
                </svg>
            </button>
        </div>
    </div>
</header>
<div class="space-sticky"></div>
