<div class="modal sidebarMenu -left fade" id="mdllSidebar-connected" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header d-block pb-1">

        <!-- un-user-profile -->
        <div class="un-user-profile">
          <div class="image_user">
            <picture>
              <source srcset="views/images/user.png" type="image/webp">
              <img src="views/images/user.png" alt="image">
            </picture>
          </div>
          <div class="text-user">
            <h3>Test User</h3>
            <p>test@gmail.com</p>
          </div>
        </div>

        <button type="button" class="btn btnClose" data-bs-dismiss="modal" aria-label="Close">
          <i class="ri-close-fill"></i>
        </button>

        <!-- cover-balance -->
        <div class="cover-balance">
          <div class="un-balance">
            <div class="content-balance">
              <p class="mb-0 text-white">My Balance</p>
              <h4 class="mb-0 text-white">35000</h4>
            </div>
          </div>
          <button type="button" class="btn btn-sm-size bg-white text-dark rounded-pill p-1">
            +
          </button>
        </div>


      </div>
      <div class="modal-body">
        <ul class="nav flex-column -active-links">
          <li class="nav-item">
            <a class="nav-link active" href="/">
              <div class="icon_current">
                <i class="ri-home-5-line"></i>
              </div>
              <div class="icon_active">
                <i class="ri-home-5-fill"></i>
              </div>
              <span class="title_link">Home</span>

            </a>

            <a class="nav-link" href="/basic-course">
              <div class="icon_current">
                <i class="ri-file-chart-line"></i>
              </div>
              <div class="icon_active">
                <i class="ri-file-chart-line"></i>
              </div>
              <span class="title_link">Basic Course</span>

            </a>
            
            <a class="nav-link" href="/">
              <div class="icon_current">
                <i class="ri-file-chart-line"></i>
              </div>
              <div class="icon_active">
                <i class="ri-file-chart-line"></i>
              </div>
              <span class="text-secondary title_link">My Report Card</span>

            </a>

            <a class="nav-link" href="/">
              <div class="icon_current">
                <i class="ri-profile-line"></i>
              </div>
              <div class="icon_active">
                <i class="ri-profile-line"></i>
              </div>
              <span class="text-secondary title_link">My Public Profile</span>

            </a>

            <a class="nav-link" href="/">
              <div class="icon_current">
                <i class="ri-copper-diamond-line"></i>
              </div>
              <div class="icon_active">
                <i class="ri-copper-diamond-line"></i>
              </div>
              <span class="text-secondary title_link">Daily Bonus</span>

            </a>

            <a class="nav-link" href="/">
              <div class="icon_current">
                <i class="ri-user-line"></i>
              </div>
              <div class="icon_active">
                <i class="ri-user-line"></i>
              </div>
              <span class="text-secondary title_link">My Friends</span>

            </a>
          </li>


          <label class="title__label">other</label>

          <li class="nav-item">
            <a class="nav-link">
              <div class="icon_current">
                <i class="ri-questionnaire-line"></i>
              </div>
              <div class="icon_active">
                <i class="ri-questionnaire-fill"></i>
              </div>
              <span class="title_link">Forum Ask a question</span>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link">
              <div class="icon_current">
                <i class="ri-file-info-line"></i>
              </div>
              <div class="icon_active">
                <i class="ri-file-info-fill"></i>
              </div>
              <span class="title_link">About App.</span>
            </a>
          </li>

          <li class="nav-item">
            <a href="/logout" class="nav-link">
              <div class="icon_current">
                <i class="ri-logout-box-r-line"></i>
              </div>
              <div class="icon_active">
                <i class="ri-logout-box-r-fill"></i>
              </div>
              <span class="title_link">Sign Out</span>
            </a>
          </li>

        </ul>
      </div>
      <div class="modal-footer">
        <div class="em_darkMode_menu">
          <label class="text" for="switchDark">
            <h3>Dark Mode</h3>
            <p>Browsing in night mode</p>
          </label>
          <label class="switch_toggle toggle_lg theme-switch" for="switchDark">
            <input type="checkbox" class="switchDarkMode theme-switch" id="switchDark" aria-describedby="switchDark">
            <span class="handle"></span>
          </label>
        </div>
      </div>
    </div>
  </div>
</div>