    <!-- App Sidebar -->
    <div class="modal fade panelbox panelbox-left" id="sidebarPanel" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
          <div class="modal-content">
              <div class="modal-body p-0">

                  <!-- profile box -->
                  <div class="profileBox">
                      <div class="image-wrapper">
                          <a href="/public-profile">
                              <img src="/views/assets/img/app-assets/avtar-icon.png" alt="image" class="imaged rounded">
                          </a>
                      </div>
                      <div class="in">
                          <a href="/public-profile">
                              <strong>Subham Singh</strong>
                              <div class="text-muted">
                                  <ion-icon name="location"></ion-icon>
                                  Civil Lines
                              </div>
                          </a>
                      </div>
                      <a href="javascript:;" class="close-sidebar-button" data-dismiss="modal">
                          <ion-icon name="close"></ion-icon>
                      </a>
                  </div>
                  <!-- * profile box -->

                  <ul class="listview flush transparent no-line image-listview mt-2">
                      <li>
                          <a href="./" class="item">
                              <div class="icon-box bg-primary">
                                  <ion-icon name="home-outline"></ion-icon>
                              </div>
                              <div class="in">
                                  Home
                              </div>
                          </a>
                      </li>
                      <li>
                          <a href="/basic-course" class="item">
                              <div class="icon-box bg-primary">
                                  <ion-icon name="folder-outline"></ion-icon>
                              </div>
                              <div class="in">
                                  Basic Cources
                              </div>
                          </a>
                      </li>
                      <li>
                          <a href="/practice" class="item">
                              <div class="icon-box bg-primary">
                                  <ion-icon name="clipboard-outline"></ion-icon>
                              </div>
                              <div class="in">
                                  Practices
                              </div>
                          </a>
                      </li>
                      <li>
                          <a href="/practice" class="item">
                              <div class="icon-box bg-primary">
                                  <ion-icon name="clipboard-outline"></ion-icon>
                              </div>
                              <div class="in">
                                  Home Work
                              </div>
                          </a>
                      </li>
                      <li>
                          <a href="/private-profile" class="item">
                              <div class="icon-box bg-primary">
                                  <ion-icon name="card-outline"></ion-icon>
                              </div>
                              <div class="in">
                                  My Report Card
                              </div>
                          </a>
                      </li>
                      <!-- <li>
                          <a href="/public-profile" class="item">
                              <div class="icon-box bg-primary">
                                  <ion-icon name="person-outline"></ion-icon>
                              </div>
                              <div class="in">
                                  <div>My Public Profile</div>
                              </div>
                          </a>
                      </li> -->
                      <!--<li>-->
                      <!--    <a href="page-chat.php" class="item">-->
                      <!--        <div class="icon-box bg-primary">-->
                      <!--            <ion-icon name="gift-outline"></ion-icon>-->
                      <!--        </div>-->
                      <!--        <div class="in">-->
                      <!--            <div>Daily Bonus</div>-->
                      <!--        </div>-->
                      <!--    </a>-->
                      <!--</li>-->
                      <li>
                          <a href="/my-friends" class="item">
                              <div class="icon-box bg-primary">
                                  <ion-icon name="people-outline"></ion-icon>
                              </div>
                              <div class="in">
                                  <div>My Friend</div>
                              </div>
                          </a>
                      </li>
                  </ul>



                  <div class="listview-title">
                      <span>Others</span>
                  </div>
                  <ul class="listview image-listview flush transparent no-line">
                      <li>
                          <a href="/ask-a-questions" class="item">
                              <div class="icon-box bg-primary">
                                  <ion-icon name="help-outline"></ion-icon>
                              </div>
                              <div class="in">
                                  <div>Forum: Ask a question</div>
                              </div>
                          </a>
                      </li>
                      <li>
                          <a href="/refer-friends" class="item">
                              <div class="icon-box bg-primary">
                                  <ion-icon name="person-add-outline"></ion-icon>
                              </div>
                              <div class="in">
                                  <div>Invite Your friends</div>
                              </div>
                          </a>
                      </li>
                      <li>
                          <a href="refer-friends.php" class="item">
                              <div class="icon-box bg-primary">
                                  <ion-icon name="person-add-outline"></ion-icon>
                              </div>
                              <div class="in">
                                  <div>Your Suggestions</div>
                              </div>
                          </a>
                      </li>
                      <li>
                          <a href="refer-friends.php" class="item">
                              <div class="icon-box bg-primary">
                                  <ion-icon name="person-add-outline"></ion-icon>
                              </div>
                              <div class="in">
                                  <div>Update App</div>
                              </div>
                          </a>
                      </li>
                      <li>
                          <a href="/app-about" class="item">
                              <div class="icon-box bg-primary">
                                  <ion-icon name="newspaper-outline"></ion-icon>
                              </div>
                              <div class="in">
                                  <div>About App</div>
                              </div>
                          </a>
                      </li>
                      <li>
                          <a href="./start-page.php" class="item">
                              <div class="icon-box bg-primary">
                                  <ion-icon name="log-out-outline"></ion-icon>
                              </div>
                              <div class="in">
                                  <div>LogOut</div>
                              </div>
                          </a>
                      </li>

                  </ul>

              </div>

              <!-- sidebar buttons -->
              <div class="sidebar-buttons">
                  <a href="javascript:;" class="button">
                      <ion-icon name="person-outline"></ion-icon>
                  </a>
                  <a href="javascript:;" class="button">
                      <ion-icon name="archive-outline"></ion-icon>
                  </a>
                  <a href="javascript:;" class="button">
                      <ion-icon name="settings-outline"></ion-icon>
                  </a>
                  <a href="page-login.php" class="button">
                      <ion-icon name="log-out-outline"></ion-icon>
                  </a>
              </div>
              <!-- * sidebar buttons -->
          </div>
      </div>
  </div>
  <!-- * App Sidebar -->